
/* -------基本枠組み-------- */

body{
  display: grid;
  grid-template: 
  "header" 20%
  "main" 75%
  "footer" 5%
  / 1fr;
}

/* -------ヘッダー-------- */
.header {
  padding: 10px;
  text-align: center;
  grid-area: header;
}
/* -------メイン-------- */
.main {
  padding: 10px;

  text-align: center;
  grid-area: main;
}
/* -------フッター-------- */
.footer {
  padding: 10px;

  text-align: center;
  grid-area: footer;
}

/* -------その他枠組み-------- */

.grid_mypage{
  justify-content: center;
  display: grid;
  grid-template: 
  "button button button" 20%
  ". . ." 10px
  "status . item" 75%
  / 45% 10px 45%;
}

.enter_button{
  grid-area: button;
}
.status{
  grid-area: status;
  border: solid 1px black;
  overflow: scroll;
}
.item{
  grid-area: item;
  border: solid 1px black;
}
