/*初期設定
--------------------------------------------------*/
body{
margin:0;
padding:0;
color:#333;
background:#fff;
}


/*ページ枠組み
------------------------------*/
#page{
    magrin:0 auto;
    width:800px;
}

#time{
  text-align: center;
  margin:50px;
  font-size: 60px;
  border-width: 8px;
  background-color: grey;
}

#gauge{
    margin:10px;
    width:60%;
    height:75px;
    background-color: grey;
  }

#Enemy_img{
  margin:10px;
  width:30%;
    height:75px;
    background-color: grey;
}

#gauge,#Enemy_img{
  display: inline-flex;
}

#Player_img{
  margin:10px;
  background-color: grey;
}

#runtime{
  margin:10px;
  background-color: grey;
}
#Player_img,#runtime{
  display: inline-flex;
}


#Attack_Container{

    margin-left: 15px;
    margin-right: auto;
    width:65%;
    float: left;
}
#Action_Container{

    margin-left: auto;
    margin-right: 15px;
    width:25%;
    float: right;
}
#attack_foreach{
      background-color: yellow;
      width:40%;
      height:50px;
      float: left;
      margin-left: 10px;
}
#attack_while{
      background-color: green;
      width:40%;
      height:50px;
      float: right;
      margin-right: 10px;
}
#attack_switch{
      background-color: aqua;
      width:40%;
      height:50px;
      float: left;
      margin-left: 10px;
}
#attack_format{
      background-color: lime;
      width:40%;
      height:50px;
      float: right;
      margin-right: 10px;
}
#clearfix{
  content: "";
	display: block;
	clear: both;
}
#Console{
  overflow: hidden;
  background-color: grey;
}
